Bio==1.5.1
biopython==1.79
cached_property==1.5.2
einops==0.3.0
filelock==3.9.0
numpy==1.24.2
scipy==1.10.1
scoring==0.0.9
torch==1.11.0
torchtyping==0.1.4
typeguard==2.13.3
matplotlib
notebook
nglview